<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<hr>
		<p><a href="/maison/take">Se connecter</a></p>
		<p><a href="/login">Se connecter</a></p>
	</body>
</html>